<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: group) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="mb-3">
        <%= f.label :name, 'グループ名' %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :public, 'グループを公開する' %>
        <%= f.check_box :public,:as => :boolean %>
      </div>
      
      

      

      <%= f.submit 'グループを作成する', class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
</div>