<div>
  <aside>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @group.name %></h3>
      </div>
    </div>
  </aside>
  <div>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= group_path(current_user) %>" class="nav-link <%= 'active' if current_page?(group_path(current_user)) %>">参加しているユーザー一覧  <span class="badge bg-secondary"><%= @count_places %></span></a></li>
      <li class="nav-item"><a href="#" class="nav-link">グループ内の投稿一覧</a></li>
    </ul>
  </div>
  <%= render 'places/places', places: @place %>
   <div>
    <% if current_user == @group.user %>
       <%= link_to "編集", edit_group_path(@group),  class: 'btn btn-primary btn-sm' %>
       <%= link_to "削除",group_path, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
    <% end %>
   </div>
</div>