<div>
  <aside>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
    </div>
  </aside>
  <div>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">投稿一覧  <span class="badge bg-secondary"><%= @count_places %></span></a></li>
      <li class="nav-item"><a href="<%= participated_user_path(current_user) %>" class="nav-link <%= 'active' if current_page?(participated_user_path(current_user)) %>">参加中のグループ一覧 <span class="badge bg-secondary"></a></li>
      <li class="nav-item"><a href="<%= inviting_user_path(current_user) %>" class="nav-link <%= 'active' if current_page?(inviting_user_path(current_user)) %>">招待されているグループ一覧 <span class="badge bg-secondary"></a></li>
    </ul>
   </div>
   <%= render 'groups', groups: @participated %>
  
</div> 