<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: place) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="mb-3">
        <%= f.label :name, '撮影地' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :image,'画像' %>
        <%= f.file_field :image, class: 'form-control', accept: 'image/*' %>
        <%= f.hidden_field :image_cache %>
        <% if current_page?("/places/#{place.id}/edit") %>
        <label>
          <%= f.check_box :remove_image %>
          画像を削除する
        </label>
        <% end %>
      </div>

      <div class="mb-3">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :datetime, '撮影日時' %>
        <%= f.datetime_field :datetime, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :content, 'コメント' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <%= f.submit '投稿する', class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
</div>