<% if places.any? %>
  <ul class="list-unstyled mt-2">
    <% places.each do |place| %>
      <li class="mb-5">
        <div class="row">
          <aside class="col-sm-4">
            <div class="card">
              <div class="card-header">
                <p><%= place.name %></p>
              </div>
              <div class="card-body">
                <%= image_tag place.image_url, class: 'card-img-top', size: '200x300' %>
              </div>
            </div>
          </aside>
          <div class="col-sm-8">
            <div>
              <%= link_to place.user.name, user_path(place.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= place.created_at %></span>
            </div>
            <div>
              <%= link_to "撮影地の地図", "https://www.google.com/maps/search/?api=1&query=#{place.latitude},#{place.longitude}" %>
            </div>
            <div>
              <p>撮影日時　　<%= place.datetime %></p>
            </div>
            <div>
              <p><%= place.content %></p>
            </div>
            <div>
              <ul>
              <% if current_user == place.user %>
                <li class="d-inline-block"><%= link_to "編集", edit_place_path(place),  class: 'btn btn-primary btn-sm' %></li>
                <li class="d-inline-block"><%= link_to "削除", place, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %></li>
              <% end %>
                <li class="d-inline-block">
                  <%= render 'favorites/favorite_button', place: place %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
  
  
<% end %>